/* src/components/Footer.css */

.footer {

    position: static;    
  margin-left: 20px;     /* 사이드바 왼쪽 정렬 맞추기 */
  margin-bottom: 10px;   /* 살짝 위로 띄우기 */
  font-size: 0.85rem;
  color: #B1B1B1;
}

/* 사이드바 배경색이 다르다면 아래 색상 맞춰줘 */
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #222;
    color: #aaa;
  }
}