/* --- 전역(App.js 공용) --- */
@import './components/MainView.css';

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.main-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 200px;
  background-color: #F9F9F9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar button {
  background: none;
  border: none;
  color: #727272;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.sidebar button.active {
  background-color: #FF4B00;
  color: #FFFFFF;
}

.sidebar button:hover {
  background-color: #E4E4E4;
  color: #FFFFFF;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  background-color: #FFFFFF;
}

/* --- 로그인 화면 --- */
.login-container {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 8px;
}

.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #FFF4F0;
  background-color: #FFF4F0;
  color: #FF4B00;
  border-radius: 30px;
  width: 200px;
  text-align: center;
}

.user-icon {
  margin-bottom: 15px;
}

.error-message {
  color: #ff6b6b;
  margin-top: -5px;
}