/* --- 전역(App.js 공용) --- */
@import './components/MainView.css';

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff; 
  color: #000000;
}

.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.main-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  background-color: #ffffff; /* 메인 영역 배경색 */
}

.sidebar {
  width: 230px; 
  background-color: #F9F9F9; 
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.sidebar button {
  background: none;
  border: none;
  color: #727272;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.sidebar button.active,
.sidebar button:hover {
  background-color: #FF4B00;
  color: #ffffff;
}

.sidebar button.active svg path,
.sidebar button:hover svg path {
  fill: #ffffff;
}

.sidebar .icon {
  margin-right: 3px;
  margin-left: 3px;
}

.sidebar .icon2 {
  margin-left: 5px;
}

.sidebar .footer {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 12px;
  color: #B1B1B1;
}

.sidebar .logo {
  padding-top: 10px;
  padding-bottom: 30px;
}

/* --- 로그인 화면 --- */
.login-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
}

.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 0px;
  background-color: #FFF4F0;
  color: #FF4B00;
  border-radius: 50px;
  width: 200px;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.login-container input[type="password"]:focus {
  outline: 1.5px solid #ff4b00;
}

/*.login-container button {
  padding: 10px 20px;
  border: none;
  background-color: #61dafb;
  color: #1e2128;
  cursor: pointer;
  border-radius: 4px;
}*/

.user-icon {
  margin-bottom: 5px;
  width: 50px;
}

.error {
  color: #ff6b6b; /* 에러 메시지 색상 */
  margin-top: -5px;
  font-size: 15px;
}
